@if(categoria()) {
<div class="detail-container">
    <mat-card class="detail-card">
        <!-- header -->
        <div class="detail-header">
            <div class="avatar">{{ categoria()?.nombre?.charAt(0) || '?' }}</div>
            <div class="info">
                <h2>{{ categoria()?.nombre }}</h2>
                <p class="email">SLA: {{ categoria()?.sla?.nombre }}</p>
            </div>
        </div>

        <div class="divider"></div>

        <!-- body -->
        <div class="detail-body">
            <p>
                <strong>Tiempo máx. de respuesta:</strong>
                {{ categoria()?.sla?.maxRespuestaHrs }} horas
            </p>
            <p>
                <strong>Tiempo máx. de resolución:</strong>
                {{ categoria()?.sla?.maxResolucionHrs }} horas
            </p>

            <div class="chips-section">
                <p><strong>Etiquetas:</strong></p>
                <div class="chips-container">
                    @for (item of categoria()?.etiquetas; track $index) {
                    <span class="chip etiqueta">{{ item.nombre }}</span>
                    }
                </div>
            </div>

            <div class="chips-section">
                <p><strong>Especialidades:</strong></p>
                <div class="chips-container">
                    @for (item of categoria()?.especialidades; track $index) {
                    <span class="chip especialidad">{{ item.nombre }}</span>
                    }
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="detail-footer">
            <button mat-stroked-button color="accent" (click)="goBack()">Regresar</button>
        </div>
    </mat-card>
</div>
} @else {
<mat-card-content>
    <p class="mat-body text">Categoría no encontrada</p>
</mat-card-content>
}