.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4d4c7d;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.header-nav a:hover,
.header-nav a.active {
    color: #e9d5da;
}

.logout {
    background-color: #827397;
    padding: 6px 12px;
    border-radius: 6px;
}