// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: (40: #6C5B7B,
          90: #FAEAF1,
        ),
        secondary: (40: #C06C84,
          90: #FAEAF1,
        ),
        tertiary: (40: #F8BBD0,
          90: #FFFFFF,
        ),
        neutral: (40: #2E294E,
          90: #FAEAF1,
        ),
        error: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: dark;

  --mat-sys-color-surface: #90A1B9;
  --mat-sys-color-background: #90A1B9;
  --mat-sys-color-on-surface: #FAEAF1;
  --mat-sys-color-on-background: #FAEAF1;
  background-color: var(--mat-sys-color-surface);
  color: var(--mat-sys-color-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}