.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: white;
    z-index: 100;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.spacer {
    flex: 1;
}

.primary-gradient {
    background: linear-gradient(to right, #4d4c7d, #827397);
}